<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header">
        @Scripts.Render("~/bundles/jquery")
        <h1>
            <img id="imgHeader" src="~/Content/Images/logo.png" />
            IT 2030 FINAL PROJECT
        </h1>
        <ul id="navlist">
            <li class="first">
                <a href="/EventsManager/HomePage"
                   id="current">Find An Event</a>
            </li>
            <li>
                <a href="/EventsManager/Create">Organize An Event</a>
            </li>
            <li>
                <a href="/Account/Login">Sign In</a>
            </li>
        </ul>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Nick's Mosinski's Final Project - IT 2030</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
